* {
  font-family: ;
  color: #fff;

}

body {
  margin: 0;
  background-color: ;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculadora {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 160px repeat(5, 75px);
  background-color: aquamarine;
  padding: 15px;
  border-radius: 32px;
  box-shadow: 15px 10px 0px 5px #00000033;
}

button {
  cursor: pointer;
  margin: 5px;
  padding: 0;
  border-radius: 32px;
  font-size: 1.5em;
  border: none;
  background-color: blueviolet;
  box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00ffc11f;


}

button:active {
  background-color: #006f54;

}

button:focus {
  outline: none;
}

.colum2 {
  grid-column: span 2;
}

.display {
  grid-column: 1 / -1 ;
  padding: 16px;
  display: flex;
  margin: 10px 10px 20px;
  flex-direction: column;
  background-color: #363636;
  border-radius: 32px;
  text-align: right;
  justify-content: space-between;
  word-break: break-all;
  box-shadow: 0px 0px 0px 10px #00000033;
}

#valor-actual {
  font-size: 1.5em;

}

#valor-actual {
  font-size: 2em;
}